<!--<div *ngIf="item" class="card" [ngStyle]="{'background-color': (isSelected) ? 'rgb(204, 197, 185)' : 'white' }">-->
<div *ngIf="item" class="card" [style.background-color]="(isSelected) ? 'rgb(204, 197, 185)' : 'white'">
  <div class="header">
    <ng-content select=".top"></ng-content>
    <h2 class="title">{{ item.from }} - {{ item.to }}</h2>
  </div>

  <div class="content">
    <p>Flight-No.: #{{ item.id }}<span *ngIf="item.delayed"> (delayed)</span></p>
    <p [class.delayed]="item.delayed">Date: {{ item.date | date:'dd.MM.yyyy HH:mm' }}</p>
    <p>
      <button *ngIf="!isSelected" class="btn btn-default" (click)="select()">
        Select
      </button>
      <button *ngIf="isSelected" class="btn btn-default" (click)="deselect()">
        Deselect
      </button>

      <ng-content select=".bottom"></ng-content>
    </p>
  </div>
</div>

