<ng-container *ngIf="errors">
  <div class="text-danger">{{ fieldLabel }} is invalid.</div>

  <div *ngIf="errors.required" class="text-danger">{{ fieldLabel }} is required.</div>

  <div *ngIf="errors.minlength" class="text-danger">{{ fieldLabel }} minlength is {{ errors.minlength.requiredLength }}.</div>

  <div *ngIf="errors.maxlength" class="text-danger">{{ fieldLabel }} maxlength is {{ errors.maxlength.requiredLength }}.</div>

  <div *ngIf="errors.pattern" class="text-danger">{{ fieldLabel }} has invalid input.</div>

  <div *ngIf="errors.city" class="text-danger">
    {{ fieldLabel }} is "{{ errors.city.actualCity }}" but should be a city of "{{ errors.city.validCities }}".
  </div>

  <div *ngIf="errors.asyncCity" class="text-danger">No flight starting from "{{ errors.asyncCity }}". </div>

  <div *ngIf="errors.roundTrip" class="text-danger"> Round trips are not allowed!</div>

  <div *ngIf="errors.asyncMulti" class="text-danger">
    No trips were found from "{{ errors.from }}" to "{{ errors.to }}"!
  </div>
</ng-container>
